body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F0FFF0;
    color: #006400;
}
h1, h2 {
    font-family: Jungle, serif;
    color: #228B22;
}
a {
    color: #FF4500;
}
section {
    padding: 3rem;
}